<div class="user-form">
  <div class="inner-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

      <%= f.text_field :username,:placeholder => "Username" %>

      <%= f.email_field :email,:placeholder => "Email" %>

      <% if @minimum_password_length %>
        <% em = "(#{@minimum_password_length}+ characters)" %>
      <% end %>
      <%= f.password_field :password, autocomplete: "off",:placeholder => "Password #{em}"  %>

      <%= f.password_field :password_confirmation, autocomplete: "off",:placeholder => "Confirm password" %>

      <!-- <#%= f.label :dob, "Birth Date" %><br /> -->
      <!-- <%#= f.date_field :dob, :prompt => "Date of birth"  %> -->

      <!-- <#%= f.label :gender, "I'm a"%>
      <#%= f.select :gender, [['guy','m'],['girl','f']]  %>
      <#%= f.label :preference, "who likes"%>
      <#%= f.select :preference, [['girls','f'],['guys','m'],['everyone','b']]  %> -->

      <%= f.submit "Sign up" %>
  <% end %>
  </div>
</div>
