<div class="event-info dark">
  <h2 class='title'><%= @user.username %></h2>
  <% if @user.attendances.last %>
  <h3 class='info'>
    Last Attended: <%= @user.attendances.last.event.title %> on
    <%= @user.attendances.last.event.when.strftime("%m/%d/%Y") %>
  </h3>
  <% end %>
  <%= link_to "back",event_path(session[:event_id]), class:'btn top-right' %>
</div>

<div class="list-container">
  <h2 class='title'>Followers</h2>
  <div class='list dark contained-list'>
    <% @followers.each do |person| %>
    <div class='list-item'>
      <p class='person'><%= link_to person.username,person, class:'page-link' %></p>
      <% if current_user.following.include?(person) %>
        <%= link_to "Unfollow",unfollow_user_path(person), :method => :post, class:'btn' %>
      <% else %>
        <%= link_to "Follow",follow_user_path(person), :method => :post, class:'btn' %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div class="list-container">
  <h2 class='title'>Following</h2>
  <div class='list dark contained-list'>
    <% @following.each do |person| %>
    <div class='list-item'>
      <p class='person'><%= link_to person.username,person, class:'page-link' %></p>
      <% if current_user.following.include?(person) %>
        <%= link_to "Unfollow",unfollow_user_path(person), :method => :post, class:'btn' %>
      <% else %>
        <%= link_to "Follow",follow_user_path(person), :method => :post, class:'btn' %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div class="list-container">
  <h2 class='title'>Events</h2>
  <div class='list dark contained-list'>
    <% @events.each do |event| %>
    <div class='list-item'>
      <p><%= link_to event.title,event,class:'page-link' %></p>
      <p><%= event.location.name %></p>
      <p><%= event.when.strftime("%m/%d/%Y at %l:%M%p") %></p>
    </div>
    <% end %>
  </div>
</div>
