<% if @events %>
<ul>
  <% @events.each do |event| %>
  <li>

    <p><%= link_to event.title,event %></p>
    <p><%= event.when.strftime("at%l:%M%p") %></p>
    <% if Attendance.find_by(user:current_user,event:event) %>
      <%= button_to 'Bail', bail_event_path(event), :method => :post %>
    <% else %>
      <%= button_to 'Attend', attend_event_path(event), :method => :post %>
    <% end %>
    <!-- <p><#%= event.location.name %></p>
    <p><#%= event.location.address %></p> -->
  </li>
  <% end %>
</ul>
<% end %>
<%= render partial: "form" %>
<!-- <#%= link_to "Add an Event",new_event_path %> -->
