<h1><%= @event.title %></h1>
<h3><%= @event.when.strftime("at%l:%M%p") %></h3>
<h3><%= @event.location.name %></h3>
<h3><%= @event.location.address %></h3>
<%= link_to "back",events_path %>
<% if @attendees %>
<p>Look who's going:</p>
<ul>
  <% @attendees.each do |person| %>
  <li>
    <%= person.username %>
    <!-- <#%= button_to "Follow",follow_user_path(person), :method => :post %> -->
  </li>
  <% end %>
</ul>
<% end %>
<% if @tags %>
<p>Tagged as:</p>
<ul>
  <% @tags.each do |tag| %>
  <li>
    <% if Tagging.find_by(user:current_user,event:@event,tag:tag[:tag]) %>
      <%= button_to "#{tag[:tag][:tag]} #{tag[:count]}",untag_event_tag_path(@event,tag[:tag]),:method => :post %>
    <% else %>
      <%= button_to "#{tag[:tag][:tag]} #{tag[:count]}",duplicate_event_tag_path(@event,tag[:tag]),:method => :post %>
    <% end %>
  </li>
  <% end %>
</ul>
<% end %>
<%= render partial: 'tags/form' %>
<!-- <#%= link_to "Add Tag",new_event_tag_path(@event) %> -->
