<h1><%= @event.title %></h1>
<h3>At: <%= @event.when %></h3>
<% if @attendees %>
<p>Look who's going:</p>
<ul>
  <% @attendees.each do |person| %>
  <li>
    <%= person.username %>
  </li>
  <% end %>
</ul>
<% end %>
<% if @tags %>
<p>Tagged as:</p>
<ul>
  <% @tags.each do |tag| %>
  <li>
    <%= tag[:tag] %> <%= tag[:count] %>
  </li>
  <% end %>
</ul>
<% end %>
<%= link_to "Add Tag",new_event_tag_path(@event) %>
