<div class="event-info dark">
  <h2 class='title'><%= @event.title %></h2>
  <h3 class='info'><%= @event.location.name %> <%= @event.when.strftime("at %l:%M%p") %></h3>
  <h3 class='info'><%= @event.location.address %></h3>
  <% if @event.owner %>
  <h3 class='info'>Proposed by: <%= @event.owner.username %></h3>
  <% end %>
  <!-- <% @breakdown.each do |k,v| %>
  <#%= v %>
  <% end %> -->
  <%= link_to "back",@back, class:'btn top-right' %>
</div>
  <div id='tags' class='tags dark'>
    <div id="tag-form">
      <%= render partial: 'tags/form' %>
    </div>
    <% if @tags %>
    <div>
      <% @tags.each do |tag| %>
      <div class='tag'>
        <% if Tagging.find_by(user:current_user,event:@event,tag:tag[:tag]) %>
          <% tagC = (tag[:count]>1)? "x#{tag[:count]}": '' %>
          <%= link_to "#{tag[:tag][:tag]} #{tagC}",untag_event_tag_path(@event,tag[:tag]),
          :method => :post, class:'btn' %>
        <% else %>
          <%= link_to "#{tag[:tag][:tag]} #{tagC}",duplicate_event_tag_path(@event,tag[:tag]),
          :method => :post, class:'btn' %>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class='form-show btn'>Look Who's Going</div>
  <% if @attendees %>
  <div class='list dark'>
    <% @attendees.each do |person| %>
    <div class='list-item'>
      <p class='person'><%= link_to person.username,person, class:'page-link' %></p>
      <% if current_user.following.include?(person) %>
        <%= link_to "Unfollow",unfollow_user_path(person), :method => :post, class:'btn' %>
      <% else %>
        <%= link_to "Follow",follow_user_path(person), :method => :post, class:'btn' %>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>

  <div id='map' class='map'></div>
  <% if Attendance.find_by(user:current_user,event:@event) %>
    <%= link_to 'Click to Bail', bail_event_path(@event), method: :put, class: "form-show btn" %>
  <% else %>
    <%= link_to 'Click to Attend', attend_event_path(@event), method: :put, class: "form-show btn" %>
  <% end %>

<script>
//map
L.mapbox.accessToken = "pk.eyJ1IjoiY2hhc2VncnViZXIiLCJhIjoidV9tdHNYSSJ9.RRyvDLny4YwDwzPCeOJZrA";
var features = [
  { "type": "Feature",
    "geometry": {"type": "Point", "coordinates": [<%= @event.location.longitude %>, <%= @event.location.latitude %>]},
    "properties": {
      "name":"<%= @event.location.name %>",
      "address":"<%= @event.location.address %>",
      "this":"yes"
    }
  },
  <% @other_locations.each do |location| %>
  { "type": "Feature",
    "geometry": {"type": "Point", "coordinates": [<%= location.longitude %>, <%= location.latitude %>]},
    "properties": {
      "name":"<%= location.name %>",
      "address":"<%= location.address %>",
      "this":"no"
    }
  },
<% end %>
]

var geojson = { "type": "FeatureCollection",
    "features":features}

var events = L.geoJson(geojson);

var map = L.mapbox.map('map', 'mapbox.dark',{minZoom:3,maxZoom:18,zoomControl:false})
new L.Control.Zoom({ position: 'topright' }).addTo(map);
map.fitBounds(events.getBounds())

//load and style map data
events.eachLayer(function(pt){
  var marker = L.marker([pt.feature.geometry.coordinates[1],pt.feature.geometry.coordinates[0]])
    .setIcon(
      L.divIcon({
        className: (pt.feature.properties.this=='yes')?'thisMarker':'eventMarker',
        iconSize:(pt.feature.properties.this=='yes')?[30,30]:[10,10],
        popupAnchor:[-3,-10]
      })
    ).bindPopup(pt.feature.properties.name)
    .addTo(map);

});

</script>
