<div class="container">
  <div class="event-info">
    <h2><%= @event.title %></h2>
    <h3><%= @event.location.name %> <%= @event.when.strftime("at%l:%M%p") %></h3>
    <h4><%= @event.location.address %></h4>
    <!-- <% @breakdown.each do |k,v| %>
    <#%= v %>
    <% end %> -->
    <%= link_to "back",events_path, class:'btn right' %>
  </div>
  <div id='tags' class='cf'>
    <% if @tags %>
    <div>
      <% @tags.each do |tag| %>
      <div class='tag'>
        <% if Tagging.find_by(user:current_user,event:@event,tag:tag[:tag]) %>
          <% tagC = (tag[:count]>1)? "x#{tag[:count]}": '' %>
          <%= link_to "#{tag[:tag][:tag]} #{tagC}",untag_event_tag_path(@event,tag[:tag]),
          :method => :post, class:'btn' %>
        <% else %>
          <%= link_to "#{tag[:tag][:tag]} #{tagC}",duplicate_event_tag_path(@event,tag[:tag]),
          :method => :post, class:'btn' %>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
    <div id="tag-form">
      <%= render partial: 'tags/form' %>
    </div>
  </div>
  <div class="sidepane">
    <% if @attendees %>
    <p>Look who's going:</p>
    <div class='list'>
      <% @attendees.each do |person| %>
      <div class='list-item'>
        <%= link_to person.username,person %>
        <!-- <p><%= person.username %></p> -->
        <% if current_user.following.include?(person) %>
          <%= link_to "Unfollow",unfollow_user_path(person), :method => :post, class:'btn' %>
        <% else %>
          <%= link_to "Follow",follow_user_path(person), :method => :post, class:'btn' %>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div id='map'></div>
</div>

<script>
L.mapbox.accessToken = "pk.eyJ1IjoiY2hhc2VncnViZXIiLCJhIjoidV9tdHNYSSJ9.RRyvDLny4YwDwzPCeOJZrA";

var map = L.mapbox.map('map', 'mapbox.dark' /*{minZoom:3,maxZoom:18,zoomControl:false}*/)
  .setView([38.91338, -77.03236], 13)
// new L.Control.Zoom({ position: 'topright'}).addTo(map);

// new L.Control.Zoom({ position: 'topright' }).addTo(map);
</script>
