<!DOCTYPE html>
<html>
<head>
  <title>r&auml;ndezvo.us</title>

  <link href='https://fonts.googleapis.com/css?family=Share:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='dark'>
  <header class='dark cf'>
    <h1 class='main-title'>r&auml;ndezvo.us</h1>
    <div class="nav-buttons">
      <% if current_user %>
        <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, class:'btn' %>
        <%= link_to 'Edit my Info', edit_user_registration_path, class:'btn' %>
      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path, class:'btn' %>
        <%= link_to 'Login', new_user_session_path, class:'btn' %>
      <% end %>
    </div>
  </header>
  <main class='dark cf'>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </main>
  <footer class='dark'>
    A democratic way to make group decisions.<br>
    &copy; <a class='page-link' href="http://cpgruber.github.io" target="_blank">Chase Gruber</a> 2015
  </footer>
</body>
</html>
