<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <h3><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></h3>
    <h3><%= link_to 'Edit my Info', edit_user_registration_path %></h3>
    <h4>Welcome, <%= current_user.username %></h4>
  <% else %>
    <h3><%= link_to 'Signup', new_user_registration_path %></h3>
    <h3><%= link_to 'Login', new_user_session_path %></h3>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
